@import '../checkbox/checkbox.component';

.so-radiobox {
	&--checkmark {
		border-radius: 50%;
		background: none;
		
		&:after {
			display: none;
		}
	}
	
	input:checked ~ &--checkmark, input[checked] ~ &--checkmark {
		border-color: $color-verde-sofisa;
		background: none;
		
		&:after {
			width: 9.55px;
			height: 9.55px;
			display: block;
			border-radius: 50%;
			transform: translate(-50%, -50%);
			border: 0;
			background: $color-verde-sofisa;
		}
	}
}