@import '../../scss/shadows';

.so-tabs {
	width: 100%;

	&--head {
		background-color: #fafafa;

		&--item {
			font-family: 'Nunito';
			font-weight: 700;
			font-size: 14px;
			color: #666666;
			text-transform: uppercase;
			float: left;
			padding: 16px 20px;
			cursor: pointer;

			&.is-active {
				color: #022047;
				box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.1);
				border-radius: 5px 5px 0 0;
				background-color: #fff;
			}

			&:hover {
				color: #2D4EF5;
			}
		}
	}

	&--main {
		@extend .so-shadow--1;
		position: relative;
		padding: 26px 20px;
		border-radius: 3px 3px 0 3px;
		background-color: #fff;
	}
}