@import '../../scss/colors';

.so-checkbox, .so-radiobox {
	position: relative;
	cursor: pointer;
	user-select: none;
	
	&--input, &--label, &--checkmark:after {
		position: absolute;
	}
	
	&--label {
		font-family: 'Roboto';
		font-weight: 400;
		font-size: 14px;
		color: $color-cinza-600;
		left: 35px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	
	&--input, &--checkmark {
		width: 21px;
		height: 21px;
	}
	
	&--input {
		opacity: 0;
		cursor: pointer;
		z-index: 1000;
		border: 0;
	}
	
	&--checkmark {
		top: 0;
		left: 0;
		display: table;
		position: relative;
		border: 2px solid $color-cinza-200;
		border-radius: 4px;
		
		&:after {
			width: 7px;
			height: 12px;
			border: solid white;
			border-width: 0 2px 2px 0;
			transform: translate(-50%, -65%) rotate(45deg);
			top: 50%;
			left: 50%;
			content: '';
			display: block;
		}
	}
	
	input:checked ~ &--checkmark, input[checked] ~ &--checkmark {
		border-color: $color-verde-sofisa;
		background: $color-verde-sofisa;
	}
	
	input:disabled ~ &--checkmark, input[disabled] ~ &--checkmark {
		border-color: $color-cinza-200;
		background: $color-cinza-200;
		cursor: default;
		
		&:after {
			cursor: default;
			display: none;
		}
	}
}