@import '../../scss/colors';
@import '../../scss/shadows';

.so-switch {
	width: 58px;
	height: 28px;
	border-radius: 22px;
	background: #fff;
	position: relative;
	cursor: pointer;
	@extend .so-shadow--1;
	
	&:after {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		content: '';
		display: table;
		transition: all 0.3s ease-in-out;
		background: $color-cinza-200;
		
		position: absolute;
		top: 50%;
		left: 4px;
		transform: translateY(-50%);
	}
	
	&.is-active {
		&:after {
			left: unset;
			right: 4px;
			background: $color-verde-sofisa;
		}
	}
}